@font-face {
    font-family: 'Harry Potter';
    src: url(../fonts/harryp.TTF);
}

@font-face {
    font-family: 'Beer Money';
    src: url(../fonts/beer-money.ttf);
}

body {
  background-color: black;
 
}
#site img {
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;
}

::selection{
    background: #8b0c16;
  }

#site .content {
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index:20;
    position:absolute;
    top:0;
    left:0;
}

.nav-links {
    flex: 1;
    text-align: center;
    font-family: 'Beer Money';
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 35px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 4px;
    background: rgb(150, 50, 50);
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(0,0,0);
    color: whitesmoke;
    text-align: center;
    padding-top: 16px;
}

#demon {
    font-family: 'Harry Potter';
    color:white;
    font-size: 50px;
    padding-bottom: 30px;
    margin-top: 175px
}

#discord {
    font-family: 'Harry Potter';
    color:whitesmoke;
    font-size: 40px;
    margin-top: 30px;
}

#block {
  margin-left: 7px;
  margin-right:7px;
}